{% for about in site.abouts %}
            {% if about.type == "presentation" && site.title == "MOREL no-code website generator"%}
              <h1 class="book">{{ about.Title }}</h1>
                <div class="obra-dia sombra">
                <div class="ficha-container" style="">
                    <div class="ficha-title">
                        <h2>
                            {{ about.Title }}
                                <a class="morel a2a_dd" href="https://www.addtoany.com/share">
                                <i class="fa fa-share-alt" style="padding: 0em 0em;">
                                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                                </i></a><br>
                        </h2>
                    </div>
                    <div class="ficha-extract" style="">
                        <p class="morel">
                            {{ about.content }}
                        </p>
                    </div>
                    <div class="ficha-metadata">
                        {% include about-metadata-index.html %} <!-- need to create this include -->
                    </div>
                </div>
                <div class="portada" style="">
                    {% include about-actions-h_obra-suerte.html %} <!-- need to create this include -->
                </div>
                <div class="actions-v">
                {% include about-actions-v_obra-suerte.html %} <!-- need to create this include -->
                </div>
                </div>
            {% endif %}
{% endfor %}



<!-- Project Presentation -->


